<h1>Edit your Url</h1>

<%= form_for(@url) do |f| %>
  <div class="field"><br />
    <%= f.label :long_url %>
    <%= f.text_field :long_url %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>